/* * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-family: 'Exo 2', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
} */

* {
  box-sizing: border-box;
}