/* Login and sign up */

@media screen and (max-width:768px) {
  .modal-body {
    padding: 40px 40px !important;
  }
  .modal {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .modal-dialog {
    width: 100% !important;
  }
}
@media screen and (min-width:768px) {
  .modal-dialog  {
    max-width : 60% !important;
  }
}
.modal-content {
  border-radius: 8px !important;
}
.auth-inner {
  width: 100%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-inner .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password, .forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.invalid-feedback {
  display: contents !important;
}

.or-signin {
  color: #167BFF !important;
}
.or-signin:hover {
  cursor: pointer !important;
}

.forgot-password a {
  color: #167bff;
}

#loginSignUp .form-control {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
}

#loginSignUp .form-control:hover {
  background-color: rgba(0, 0, 0, .16);
}

#loginSignUp .form-control:focus {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
  background-color: rgba(0, 0, 0, 0.23);
}

/* #loginSignUp .nav-tabs a {
  background-color: #e9ebee;
  color: #888;
  border-radius: 0px;
}

#loginSignUp .nav-tabs a:hover {
  color: #555 !important;
}

#loginSignUp .nav-tabs a.active {
  color: #000 !important;
  background-color: white;
} */

/* #loginSignUp .nav-links {
  text-align: center;
  font-weight: bold;
} */

#loginSignUp .form-control {
  border-radius: 3px;
  border: none;
  color: #333333;
  font-size: 16px;
  height: 46px;
  margin-bottom: 5px;
  padding: 13px 12px;
  width: 100%;
}

#loginSignUp select.form-control {
  padding: 10px 12px;
}

#loginSignUp .form-group label {
  font-size: 16px;
}

#loginSignUp .tab-content {
  padding-left: 10px;
  padding-right: 10px;
}

#loginSignUp .modal-content, #loginSignUp button {
  border-radius: 0px;
}
