@media (min-width: 1024px){
#hero{
    background-attachment: fixed;
}
}
#hero {
    width: 100%;
    background-image: url(../../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    margin-top: 70px;
    padding: 60px 0;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

h1{
  font-family: Tajawal;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;

color: #1B559C;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 20px;
  transition: 0.5s;
  color: #fff;
  background: #1b559c;
}
a {
  color: #009cea;
  text-decoration: none;
}