.Reminders_mobile{
    width: 95vw;
}

.Reminders_mobile * {
    font-family: 'Inter' !important;
}

.Reminders_mobile a {
    color: black !important;
}

.Reminders_mobile a:hover .Reminder_Desc_mobile {
    text-decoration: underline;
}

.Reminder_Title_mobile {
    font-size: 17px;
    color: #808080;
    font-weight: 600;
}

.Reminder_Desc_mobile {
    margin-top: 4px;
    font-size: 12px;
    color: #373333;
}

@media(min-width: 576px) {
    .Reminders_mobile {
        display: none;
    }
}